body {
  background-color: #ffffff !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(146, 46, 200) 0%, rgb(15, 218, 171) 70%, rgb(93, 172, 32) 89%) !important;
}

.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(2, 2, 2, 0.15);
}

.react-datepicker-wrapper{
  width: 100%;
}
.theme {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          145deg,
          rgb(193, 129, 26) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 172, 130) 89%
  ) !important;
  height: 100vh;
}

.theme .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.theme h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.theme h2 {
  font-size: 2em;
  font-weight: normal;
}

